*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Bebas Neue', arial;
    font-size: 16px;
    line-height: 1.7em;                                           
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro'!important;
    line-height: 1.2em;                                              
}
a, a:hover{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* global css start */
.title-1{
    width: 100%;
    margin: 220px 0px 30px;
}
.title-1 h4{
    font-family: 'Bebas Neue', arial !important;
    font-size: 20px;
    font-weight: regular;
    text-transform: uppercase;
    border: 2px dashed #3d2514;
    color: #3d2514;
    padding: 15px 17px;
    margin-bottom: 25px;
    width: fit-content;
}
.title-1 h2{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 95px;
    font-weight: 600;
    text-shadow: 3px 3.5px white;
    line-height: 1.2em;
    letter-spacing:2px;
    color: #3d2514;
    margin: 30px 0px 20px;
}
.title-1 h3{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 3px 3.5px white;
    line-height: 1.2em;
    letter-spacing:2px;
    color: #3d2514;
}
.title-1 p{
    width: 67%;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.7em;
    letter-spacing:.9px;
    color: #999;
    margin-bottom: 25px;
}
.title-1 .btn-primary{
    margin: 25px 10px 25px 0px;
    width: 149px;
    height: 49px;
    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    padding: 10px 10px;
    background: #008ed6;
    color: #fff;
    border: 1px solid #008ed6;
    transition: .75s;
}
.title-1 .btn-primary:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #999;
}
.title-1 .btn-primary:focus{
    background: transparent;
    color: #fff;
    border: 1px solid #999;
}
.title-1 .btn-secondary{
    margin: 25px 5px 25px 10px;
    width: 149px;
    height: 49px;
    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    padding: 10px 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #999;
    transition: .75s;
}
.title-1 .btn-secondary:hover{
    background: #008ed6;
    color: #fff;
    border: 1px solid #008ed6;
}
.title-1 .btn-secondary:focus{
    background: #008ed6;
    color: #fff;
    border: 1px solid #008ed6;
}
/* Global css end */

/* header start */
.header{
    margin: 30px 0px 10px;
    width: 100%;
    background: url(../image/header.png) center top no-repeat;
    background-size: cover;
    padding: 8px 0px;
    position: relative;
}
/* navbar start */
.header .navbar{
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: url(../image/header.png) center top no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.header .navbar .navbar-logo img{
    width: 100%;
}
.header .navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Bebas Neue', arial;
    color: #3d2514;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 65px 0px 0px 37px;
    transition: 0.3s;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #bf2222;
    transform: scale(1.15);
}
.header .navbar .navbar-nav .nav-item .nav-link:focus{
    color: #bf2222;
    transform: scale(1.15);
}

.header .navbar .nav-right img{
    transition: 0.4s;
}
.header .navbar .nav-right img:hover{
    transform: scale(1.033);
}
.header .navbar .nav-right img:focus{
    transform: scale(1.033);
}
/* navbar end */
.inner-header{
    width: 100%;
    padding: 10px 0px 0px;
}
.inner-header .d-1{
    margin: 110px 0px 0px 20px !important;
    width: 102%;
    height: auto;
    background: center top no-repeat;
    background-size: cover;
    position: relative;
    left: -40px;
    top: -20px;
    transition: .5s;
}
.inner-header .d-1:hover{
    transform: scale(1.2);
}
/* header end */

/* banner stat */
.banner{
    width: 100%;
    padding: 160px 0px 20px;
}
.banner .card-img-overlay h5{
    font-family: 'Bebas Neue', arial !important;
    color:#fff;
    font-size: 24px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .7px;
    margin: 15px 0px 9px;
}
.banner .card-img-overlay h2{
    font-family: 'Bebas Neue', arial !important;
    color:#fff;
    font-size: 38px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .7px;
    margin: 5px 0px 0px;
}
.banner .card1{
    margin: 0px 0px 33px 0px;
}
.banner .card2{
    top: 0 !important;
    margin: 0px 0px 33px 0px;
}
.banner .card3{
    margin: 33px 0px 33px 0px;
}
.banner .card{
    transition: .4s;
}
.banner .card:hover{
    transform: scale(1.01) translateX(0px) translateY(-6px)!important ;
    box-shadow: 7px 12px 18px rgba(0, 0, 0, 0.5);
}
/* product section start */
#product{
    width: 100%;
    padding: 85px 0px 80px;
    text-align: center;
}
#product .inner-products .box-1{
    display: block;
    background: #ffc045;
    border: 1px solid #ffc045;
    padding: 10px 25px 0px;
    width: fit-content;
    margin-bottom: 20px;
}
#product .inner-products .title-1{
    text-align: -webkit-center;
    margin: 45px 0px;
}
#product .inner-products .title-1 .box-1 h5{
    font-family: 'Bebas Neue', arial !important;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #3d2514;
    text-align: center;
    width: 100%;
    padding: 7px 2px !important;
    font-weight: regular;
    text-transform: uppercase;
}
#product .inner-products .title-1 h3{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 48px;
    line-height: 1.2em;
    letter-spacing: 1.5px;
    color: #3d2514;
    text-align: center;
    width: 100%;
    font-weight: regular;
    text-transform: uppercase;
}
#product .inner-products .title-1 p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    line-height: 1.7em;
    color: #3d2514;
    text-align: center;
    width: 100%;
    font-weight: 500;
    padding: 5px;
    margin: 15px 10px;
    opacity: .9;
}
#product .inner-product{
    width: 100%;
}
#product .inner-product .inner-box{
    width: 100%;
    padding: 25px 0px;
    margin: 10px 0px;
    display: block;
    text-align: center;
    background: transparent;
    transition: .3s;
}
#product .inner-product .inner-box:hover{
    box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.2);
}
#product .inner-product .inner-box:focus{
    box-shadow: 3px 9px 20px rgba(0, 0, 0, 0.1);
}
#product .inner-product .inner-box:hover .icon-box img{
    transform: scale(1.05);
}
#product .inner-product .inner-box .icon-box img{
    transition: .6s;
}
#product .inner-product .inner-box .icon-box .c2{
    width: 85%;
    height: auto;
    text-align: center;
    margin: -7px 0px 12px;
}
#product .inner-product .inner-box .icon-box .c3{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 28px;
}
#product .inner-product .inner-box h5 {
    font-family: 'Bebas Neue', arial !important;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2em;
    color: #3d2514;
}
#product .inner-product .inner-box p {
    font-family: 'Montserrat', sans-serif !important;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #3d2514;
    margin: 5px 0px;
}
#product .inner-product .inner-box .btn-primary{
    font-family: 'Alfa Slab One', cursive !important;
    margin: 25px 0px 11px;
    width: 150px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 13px 10px;
    background: #bf2222;
    color: #fff;
    border: 3px solid #bf2222;
    border-radius: 1px;
    transition: .75s;
}
#product .inner-product .inner-box .btn-primary:hover{
    border: 3px solid #bf2222;
    background: transparent;
    color: #bf2222;
}
/* product section end */

/* testimonial section start */
.testimonial{
    width: 100%;
    padding: 70px 0px 90px;
    /* background: url("../image/t.png")center top no-repeat;
    background-size: auto; */
}
.testimonial .inner-t{
    background: #fff;
    padding: 35px;
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.2) ;
}
.testimonial .inner-t .owl-carousel .item .title-1 h2{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 36px;
    font-weight: 400;
    text-shadow: none;
    line-height: 1.2em;
    letter-spacing:1px;
    color: #3d2514;
    margin: 0px 0px 20px;
}
.testimonial .inner-t .owl-carousel .item .title-1 h2 span{
    font-family: 'Bebas Neue', arial !important;
    font-size: 26px;
    font-weight: 600;
    text-shadow: none;
    line-height: 1.2em;
    letter-spacing:2px;
    color: #3d2514;
    margin: 30px 0px 20px;
}
.testimonial .inner-t .owl-carousel .item .title-1 p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    text-shadow: none;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #3d2514;
    margin: 25px 0px 20px;
}
.testimonial .inner-t .owl-carousel .item .title-1 img{
    width: 100%;
}
.testimonial .title-1{
    margin: 10px 0px 50px 0px;
}
.testimonial .owl-carousel{
    width: 100%;
}
.testimonial .owl-carousel .item{
    width: 100%;
}
.testimonial .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -33px;
    bottom: 0;
    position: absolute;
    left: 0;
}
.testimonial .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 2px solid #dcdcdc;
    width: 12px;
    height: 12px;
}
.testimonial .owl-theme .owl-dots .owl-dot.active span{
    background: #ffc045;
    border: 2px solid #ffc045;
    width: 15px;
    height: 15px;
    margin: 10px 5px 3px;
}
/* testimonial section end */

/* contact section start */
.contact{
    width: 100%;
    padding: 0px 0px 120px;
    background: url(../image/contactbg.png) top center no-repeat;
    background-size: cover;
    text-align: center;
}
.contact .title-1 h2{
    font-family: 'Bebas Neue', arial !important;
    font-size: 28px;
    font-weight: 500;
    text-shadow: none;
    line-height: 1.2em;
    border: none;
    letter-spacing:2px;
    text-transform: uppercase;
    color: #3d2514;
    margin: 0px 0px 15px;
}
.contact .title-1 h3{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    line-height: 1.2em;
    letter-spacing:1px;
    color: #3d2514;
    margin: 0px 0px 30px;
}
/* contact form start */
.contact-form{
    width: 100%;
    margin: 45px 0px 0px;
    background: transparent;
    text-transform: none !important;
    position: relative;
}
.contact .contact-form .form-control{
    width: 100%;
    font-family: 'Bebas Neue', arial !important;
    font-size: 16px;
    padding: 12px 15px;
    border: 1px solid #444348;
    background: transparent;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 0px 0px 15px;
}
.contact-form .form-control::placeholder{
    color: #444348;
    text-transform: none !important;
}

.contact-form .form-control:focus {
    opacity: .8;
    background: transparent;
    color: #bf2222 ;
    border-color: #bf2222;
    box-shadow: 0 0 0 0.10rem #bf2222;
}
.contact .contact-form .btn-primary{
    font-family: 'Alfa Slab One', cursive !important;
    width: 100%;
    background: #bf2222;
    color: #fff;
    border: 1px solid #bf2222;
    text-transform: uppercase !important;
    border-radius: 3px;
    margin: 0px;
    font-weight: 200;
    letter-spacing: 1px;
    transition: 1s;
}
.contact .contact-form .btn-primary:hover{
    background: transparent;
    color: #bf2222;
    border-color: #bf2222;
    box-shadow:inset 0 0 0 0.10rem #bf2222;
}
/* contact form end */
/* contact section end */

/* footer section start */
.footer{
    width: 100%;
    padding: 25px 0px 0px;
    color: #fff;
    margin: 0px !important;
}
.footer .inner-footer{
    background: url(../image/footer.png)center top no-repeat;
    background-size: cover;
    position: relative;
}
.footer .inner-footer .box-1{
    width: 100%;
    float: left;
    padding: 70px 10px;
    margin: 0px 0px 15px 0px;
}
.footer .inner-footer .box-1 .left-box{
    padding: 10px 60px;
}
.footer .inner-footer .box-1 .left-box img{
    width: 70%;
    margin: 10px 0px 40px;
}
.footer .inner-footer .box-1 .left-box p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
}
.footer .inner-footer .box-1 .right-box{
    padding: 150px 20px 25px 60px;
    text-transform: uppercase;
}
.footer .inner-footer .box-1 .right-box .logo{
    padding: 0px 0px 0px 40px;
    margin-bottom: 20px;
}
.footer .inner-footer .box-1 .right-box p{
    font-family: 'Bebas Neue', arial !important;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0px 0px 10px 5px;
}
.footer .inner-footer .box-2{
    margin: 25px 0px;
    display: block;
}
.footer .inner-footer .box-2 .start{
    display: block;
    padding: 5px 71px 0px;    
}
.footer .inner-footer .box-2 .end{
    display: block;
    padding: 5px 10px 0px;    
}
.footer .inner-footer .fa{
    font-size: 17px;
    cursor: pointer;
    margin: 0px 0px 20px 30px;
    transition: .3s ease-out;
}
.footer .inner-footer .fa:hover{
    color: #ffc451;
    transform: scale(1.25);
}
.footer .inner-footer p{
    opacity: .95;
    color: #dcdcdc;
    font-family: 'Bebas Neue', arial !important;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer .inner-footer .start span{
    display: -webkit-inline-box;
    opacity: .99;
    color:#fff ;
    font-size: 16.5px;
    text-decoration: none;
    font-weight: 400;
    transition:.3s ease-out;
}
.footer .inner-footer .start span:hover{
    opacity: 1;
    letter-spacing: 1.2px;
    font-size: 16.6px;
    color: #ffc451;
}
/* footer section end */